/* height × width / margin / padding / display / border / background / text-align / font / color*/

body {
  background: white;
  font-size: 16px;
  font-family: helvetica, arial, sans-serif;
  color: grey;
}

.app {
  max-width: 1000px;
  min-width: 330px;
  margin: 0.15em;
  padding: 0.25em;
}

.page-header {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 3.4em;
  font-weight: bold;
  color: dimgrey;
}

#mixTapeTitle {
  font-family: "Rock Salt", cursive;
  font-size: 0.85em;
  color: #5bc0de;
}

.btn:focus {
  outline: 0;
}

#initialSearchInput {
  font-size: 1em;
}

.input-group-addon {
  margin: 0;
  padding: 0;
}

.searchBtn {
  padding: 0.7em 4em;
  border: none;
  background: none;
  font-size: 0.9em;
}

.searchBtn:hover {
  background: #c0c0c0;
  color: black;
  transition: 0.2s;
}

.numberOfResultsFound {
  padding-top: 1em;
  font-size: 1.15em;
}

.allSearchResults {
  padding: 0;
  list-style-type: none;
}

.individualResult {
  margin: 0.25em;
  padding: 1em;
  display: inline-block;
  background: #f3f3f3;
}

.individualResult:hover {
  background: #c0c0c0;
  color: #4398e0;
  text-decoration: underline;
  transition: 0.2s;
}

.searchHistory {
  margin-top: 3.9em;
  list-style-type: none;
}

.allSeachHistoryBtn {
  width: 100%;
  margin-bottom: 1.5em;
  padding: 0.25em 1em;
  border-style: none;
  border-radius: 5px;
  background: #96cbe4;
  color: white;
}

.clearSearchHistoryBtn {
  display: none;
  float: right;
  width: 10em;
  margin-top: -1.5em;
  border-style: none;
  background: none;
  text-decoration: underline;
  font-size: 0.95em;
  color: #cecece;
}

iframe {
  display: none;
  margin: 1em auto 0;
}

.nextVideoBtn {
  display: none;
}