/* height × width / margin / padding / display / border / background / text-align / font / color*/

body {
  margin: 3%;
  background: white;
  color: grey;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.app {
  max-width: 1000px;
  min-width: 330px;
  margin: 0.15em;
  padding: 0.25em;
}

.page-header {
  margin-top: 0;
  color: dimgrey;
  font-size: 3.4em;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

#mixTapeTitle {
  color: #5bc0de;
  font-size: 0.85em;
  font-family: "Pacifico", Arial, sans-serif;
}

#initialSearchInput {
  font-size: 1em;
}

.input-group-addon {
  margin: 0;
  padding: 0;
}

.searchBtn {
  padding: 0.6em 4em;
  border: none;
  background: none;
  font-size: 0.9em;
}

.searchBtn:hover {
  background: #c0c0c0;
  color: black;
  transition: 0.2s;
}

.nowPlayingSection {
  display: none;
  margin: 1em 0 2em 0;
  font-size: 1.25em;
  text-transform: capitalize;
}

.nowPlaying {
  margin-right: 1em;
}

.nowPlaying span {
  color: #337ab7;
}

.addToMixtapeBtn {
  float: right;
}

.videoWrapper {
  display: none;
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%; /* 16:9 */
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.customPlayerUI {
  visibility: hidden;
  margin-top: 1em;
}

.trackCounter {
  display: none;
  float: left;
  margin-left: 0.5em;
}

.allSearchResults {
  padding: 0;
  list-style-type: none;
}

.individualResult {
  margin: 0.5em;
  padding: 1em;
  background: #f3f3f3;
  text-transform: capitalize;
}

.individualResult:hover {
  background: #c0c0c0;
  color: #4398e0;
  text-decoration: underline;
}

.additionalResults {
  display: none;
}

.itemBeingDragged {
  box-shadow: 5px 5px 5px 2.5px grey;
  line-height: 2em;
  opacity: 0.8;
}

.placeholderForDrag {
  width: 97%;
  margin: 0.5em;
  padding: 1em;
  border-radius: 10px;
  background: #696969;
  color: white;
}

.highlighted {
  width: 103%;
  margin-left: -3%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px #696969;
}

.highlighted:hover {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.deleteArtistResultBtn {
  float: right;
  position: relative;
  top: -10px;
  left: 10px;
  margin-left: 1em;
}

.relevance5of5 {
  border-left: 0.5em solid #08519c;
}

.relevance4of5 {
  border-left: 0.5em solid #3182bd;
}

.relevance3of5 {
  border-left: 0.5em solid #6baed6;
}

.relevance2of5 {
  border-left: 0.5em solid #bdd7e7;
}

.relevance1of5 {
  border-left: 0.5em solid #eff3ff;
}

.relevanceColorScale {
  display: none;
  margin: 1.5em 0 3.5em 0.5em;
}

.rel5of5 {
  float: left;
  height: 1.5em;
  width: 1.5em;
  background: #08519c;
}

.rel4of5 {
  float: left;
  height: 1.5em;
  width: 1.5em;
  background: #3182bd;
}

.rel3of5 {
  float: left;
  height: 1.5em;
  width: 1.5em;
  background: #6baed6;
}

.rel2of5 {
  float: left;
  height: 1.5em;
  width: 1.5em;
  background: #bdd7e7;
}

.rel1of5 {
  float: left;
  height: 1.5em;
  width: 1.5em;
  background: #eff3ff;
}

.mixtapePlaceholder {
  display: none;
}

.mixtapeViewableList {
  border-left: 1px solid grey;
}

.mixtapeViewableList  li {
  width: 100%;
  min-height: 2.5em;
  margin-bottom: 1em;
  padding: 0.25em 1em;
  border-style: none;
  border-radius: 5px;
  background: #96cbe4;
}

.mixtapeViewableList > li > span {
  display: inline-block;
  max-width: 75%;
  color: white;
  text-transform: capitalize;
}

.deleteVideoFromHistoryBtn {
  float: right;
  margin-right: -0.9em;
}

.mixtapeStatusMessage {
  display: none;
  margin: 1em auto;
  text-align: right;
}

.clearMixtapeBtn {
  display: none;
  float: right;
}

.createEditMixtapeBtn {
  display: none;
  float: right;
  text-align: left;
  white-space: normal;
}

.viewMixtapeBtn {
  display: none;
  float: right;
  margin: 1em 0 0.5em 0;
}

@media (max-width: 767px) {
  .viewMixtapeBtn {
    margin: auto 1em;
  }
}

.pre-auth {
  display: none;
  height: 4em;
  width: 100%;
  margin-top: 3.5em;
}

.abcRioButton {
  float: right;
}

.showPreviousResultsBtn {
  display: none;
}

.previousResults {
  display: none;
  opacity: 0.7;
}

.showAdditionalResultsBtn {
  display: none;
  margin-bottom: 3em;
}
