.player {
  width: 100%;
  padding: 1.25em;
  /* Next line as a fallback for sticky */
  position: fixed;
  position: sticky;
  bottom: -1px;
  z-index: 1;
  background: #333333;
}

.showHideAndCounter {
  position: relative;
  height: 2.5em;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
}

.counter {
  min-width: 5.25em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: rgb(209, 209, 209);
}

.counter span {
  display: block;
  min-width: 2.5em;
  font-size: 1em;
}

.showHideButton {
  margin-left: 1em;
}

/* .tapeIcon {
  width: 4.5em;
  padding: 0.5em;
  border-radius: 50%;
  background: #008DF5;
}

.cassetteCog1 {
  position: absolute;
  top: 12.55em;
  left: 3.5em;
  font-size: 0.39em;
  color: white;
}

.cassetteCog2 {
  position: absolute;
  top: 12.55em;
  left: 7.17em;
  font-size: 0.39em;
  color: white;
} */
